flows.json
[{"id":"5685c8ba.482bc8","type":"tab","label":"Chatbot","disabled":false,"info":""},{"id":"aeeb4d4.450acb","type":"ui_form","z":"5685c8ba.482bc8","name":"","label":"","group":"fdc6.2e24523ad","order":0,"width":0,"height":0,"options":[{"label":"Enter your input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":200,"wires":[["679aee1d.1439f"]]},{"id":"679aee1d.1439f","type":"function","z":"5685c8ba.482bc8","name":"","func":"msg.payload= msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":220,"wires":[["2709827a.70b1ee","a7a754a4.7056a8"]]},{"id":"7c58bc22.dd47d4","type":"debug","z":"5685c8ba.482bc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":420,"wires":[]},{"id":"2709827a.70b1ee","type":"ui_text","z":"5685c8ba.482bc8","group":"fdc6.2e24523ad","order":2,"width":0,"height":0,"name":"","label":"input","format":"{{msg.payload}}","layout":"row-spread","x":260,"y":520,"wires":[]},{"id":"2aa2d0e4.bce36","type":"ui_text","z":"5685c8ba.482bc8","group":"fdc6.2e24523ad","order":2,"width":"6","height":"5","name":"","label":"Output Response","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":420,"wires":[]},{"id":"df0e01a5.6b9dc","type":"function","z":"5685c8ba.482bc8","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":80,"wires":[["7c58bc22.dd47d4","2aa2d0e4.bce36"]]},{"id":"a7a754a4.7056a8","type":"watson-conversation-v1","z":"5685c8ba.482bc8","name":"","workspaceid":"a2de4488-0eea-43c1-a8b6-75399618f618","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":440,"y":420,"wires":[["7c58bc22.dd47d4","df0e01a5.6b9dc"]]},{"id":"fdc6.2e24523ad","type":"ui_group","z":"","name":"UI","tab":"6349846c.35eb1c","order":1,"disp":true,"width":"6","collapse":false},{"id":"6349846c.35eb1c","type":"ui_tab","z":"","name":"Chatbot","icon":"dashboard","disabled":false,"hidden":false}]